[Unit]
Description=cansorella-mtdc-logger-mqtt

[Service]
Type=simple
ExecStart=/usr/local/bin/cansorella
Restart=always

[Install]
WantedBy=multi-user.target
